<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BMI Calc</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <h1>Your BMI = {{BMI}}</h1>
        {% if BMI < 16 %}
            Severely underweigh 
        {% elif  BMI < 18.5 %}
             Underweight
        {% elif BMI < 25 %}
            Normal 
        {% elif BMI < 30 %}
            Overweight 
        {% else %}
          Obese 
        {% endif %}
</body>
</html>